/* MAIN-HEADER */


.main-header {
    display: flex;
    height: 130px;
    align-items: center;
    justify-content: space-between;
    /* יותר רספונסיבי מאשר gap קבוע */
    padding: 0 1.5rem;
    gap: 1rem;
}