.image-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.main-selection {
    color: var(--clr-logo-dark-brown);
    text-align: center;
    margin-bottom: 10px;
    font-weight: 1000;
}

.images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 1.5);
    /* background-color: rgba(255, 255, 255, 0.3); */
    border-radius: 10px;
}

.category-card {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid var(--clr-logo-dark-brown);
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.refresh-button {
    padding: 10px 20px;
    background: var(--clr-logo-gold);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
}


/* .input_wrapper.link {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    position: relative;
    width: 300px;
    margin: 0 auto;
    text-align: left;
    color: var(--clr-logo-dark-brown);
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 2);
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;

} */


.input_wrapper input {
    width: 370px;
    max-width: 100%;
    padding: 2px 2px 2px 2px;
    border: 1px solid var(--clr-logo-dark-brown);
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
}


/* הסתרת הלב */
.heart-indicator {
    display: none;
}

/* הצגת הלב רק בתמונה שנבחרה */
.image-card.selected .heart-indicator {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
}

.image-card {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid var(--clr-logo-dark-brown);
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.image-card.selected {
    border: 2px solid var(--clr-logo-gold);
    box-shadow: 0 0 10px var(--clr-logo-gold);
}